*, 
*::after,
*::before {
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;

	margin: 0;

	box-sizing: inherit;
}


canvas {
	background: white;
	height: 600px;
	width: 600px;
}

.cursor-pointer {
	cursor: pointer;
}

.instruction {
	position: absolute;
	right: 20px;
	top: 20px;

	height: 30px;
	width: 30px;

	background-image: url('../img/info.png');
	background-size: contain;

	cursor: pointer;
}

.instruction:hover {
	transform: scale(1.2);
	transition: transform .3s;
}
.instruction:hover ~ aside {
	transform: translateX(0);
}

aside {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	height: 100vh;
	width: 300px;
	transform: translateX(-300px);

	background: hsl(198, 55%, 20%);
	color: #fff;

	transition: transform .3s ease-in-out;
}

aside div {
	display: flex;
	justify-content: space-between;
}

.img {
	height: 40px;
	width: 40px;
}
.img-1 {
	background-image: url('../img/keyboard-arrows.png');
	background-size: contain;
}
.img-2 {
  background-image: url('../img/space-key.png');
	background-size: contain;
}
.img-3 {
	background-image: url('../img/r-key.png');
	background-size: contain;
}


